* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.header_container {
  background-color: #f7dcc1;
}
.header_container_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header_container_nav_menu-toggle {
  display: none;
}
.header_container_nav_links {
  margin: 0 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container_nav_links .name {
  color: #f31628;
  font-size: 1.5rem;
  background-color: transparent;
}
.header_container_nav_links .name:hover {
  background-color: transparent;
  color: #117892;
}
.header_container_nav_links_link {
  background-color: #41C2E2;
  margin-right: 1rem;
  padding: 0 2rem;
  border-radius: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #1D1D1D;
  font-weight: 400;
  cursor: pointer;
}
.header_container_nav_links_link:hover {
  background-color: #117892;
  color: #fff;
}
.header_container_nav_cart {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
.header_container_nav_count {
  display: none;
  position: relative;
  top: -1rem;
  right: 0.1rem;
  font-size: 1rem;
}
.header_container_descriptions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header_container_descriptions_title {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
}
.header_container_descriptions_txt {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}
.header_container_descriptions_box-img {
  width: 45rem;
  overflow: hidden;
}

.section-category {
  width: 80rem;
  margin: 0 auto;
  padding: 5rem 0;
}
.section-category_title {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
}
.section-category_container {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
}
.section-category_container_card_title {
  font-size: 1.5rem;
  text-align: center;
}
.section-category_container_card_img {
  margin-top: 1rem;
}
.section-category_container_card_img a img {
  border-radius: 50%;
}

.section-category_select {
  padding: 0 1rem;
}

.categories {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
}
.categories_card-product {
  width: 15rem;
  border: 1px solid #1D1D1D;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories_card-product_content_description {
  font-size: 13px;
}
.categories_card-product_content_button-add-to-cart {
  background-color: #41C2E2;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 3px 1rem;
}
.categories_card-product_content_button-add-to-cart:hover {
  background-color: #0d7e9b;
  font-weight: 400;
  color: #fff;
}

.customers {
  background-color: #FAF3E0;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.customers_title {
  grid-column: 1/4;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
}
.customers_box {
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  width: 30rem;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.customers_box_profile {
  width: 4rem;
  height: auto;
}
.customers_box_span {
  display: block;
}

.us {
  width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.us_title {
  grid-column: 1/3;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
}
.us_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;
  margin-right: 1rem;
}
.us_container_box {
  width: 350px;
  border: 1px solid #44423c;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.us_container_box_image {
  width: 8rem;
  height: auto;
}
.us_container_box_subtitle {
  font-size: 1.5rem;
}
.us_description_txt {
  font-size: 1.2rem;
}

.one {
  grid-column: 1/4;
  justify-self: flex-start;
}

.two {
  margin: 0.5rem 0;
  grid-column: 1/4;
  justify-self: flex-end;
  margin-right: 2rem;
}

.three {
  justify-self: flex-start;
  grid-column: 1/4;
}

.container-footer {
  background-color: #f7dcc1;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin-top: 5rem;
}
.container-footer_data_subtitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.container-footer_data_box {
  display: flex;
  align-items: center;
}
.container-footer_data_box_logo {
  width: 2rem;
  height: auto;
}
.container-footer_networks {
  text-align: center;
}
.container-footer_networks_box_logo {
  width: 2rem;
  height: auto;
  margin: 0 0.5rem;
}
.container-footer_newsletter_form_sub {
  padding: 0 5px;
}
.container-footer_copyright {
  background-color: #1D1D1D;
}
.container-footer_copyright_description {
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
