.section-about-us {
    padding: $padding-large 0;
    background-color: $background-light-blue;
    text-align: center;

    &_title {
        text-align: center;
        font-size: 36px;
        margin-bottom: $margin-large;
        color: $text-dark;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -10px;
            width: 100px;
            height: 5px;
            background-color: $primary-color;
            border-radius: 2px;
        }
    }

    &_about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap-medium;
        max-width: 900px;
        margin: 0 auto;
        background-color: $background-white;
        padding: $padding-medium;
        border-radius: $border-radius-large;
        box-shadow: $shadow-large;

        &_images{
            display: flex;
            gap: $gap-small;
            margin-bottom: $margin-medium;

            & img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover;
                border: 5px solid $primary-color;
                box-shadow: $shadow-image;
                transition: transform 0.3s ease;
                &:hover{
                    transform: translateY(-5px);
                }
            }
        }

        &_description {
            font-size: $font-size-base;
            color: $text-light;
            line-height: 1.8;
            margin-bottom: 0;
            text-align: justify;
            max-width: 700px;
        }
    }

}