.carrito {
    height: 150vh;
    &_contenedor {
        margin: 0 auto;
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;

        &_lista {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            &_li {
                background-color: rgba(0, 0, 0, .8);
                margin: 1rem;
                padding: 1rem;
                text-align: center;
                border-radius: 2rem;

                &_btn {
                    font-size: 1.5rem;
                    padding: 0 2rem;
                    border-radius: 5rem;
                    margin-top: 1rem;
                }
            }
        }

        &_total-boton {
            display: flex;
            flex-direction: column;
            &_total {
                width: 30rem;
                background-color: rgba(0, 0, 0, .8);
                border-radius: 2rem;
                padding: 0 2rem;
                font-size: 3rem;
                text-transform: uppercase;
                color: $verde;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
            }

            &_vaciar {
                max-width: 20rem;
                font-size: 1.5rem;
                padding: 0 2rem;
                border-radius: 5rem;
                margin-top: 1rem;
            }
        }

    }
}