.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 2rem;
    position: relative;

    &_title {
        width: 50rem;
        font-size: 3.5rem;
        font-style: italic;
        margin: 5rem auto;
        text-align: center;
        border-top: 2px solid #ff0000;
        grid-column: 1/6;
    }

    &_containerCategories {
        text-align: center;
        position: relative;

        transition: transform 1s ease;
        &:hover {
            transform: scale(0.9);
        }

        &_title {
            position: absolute;
            width: 15rem;
            bottom: 0;
            left: 20%;
            z-index: 1;
            text-transform: uppercase;
            font-size: 2.5rem;
            font-weight: 700;
            cursor: default;
            color: #000;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
        }

        &_image {
            cursor: pointer;
            border-radius: 2rem;
            width: 25rem;
            height: auto;

        }
    }
}