.customers {
    background-color: #FAF3E0;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &_title {
        grid-column: 1/4;
        font-size: 2.5rem;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        letter-spacing: 3px;
    }

    &_box {
        background-color: $blanco;
        -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        width: 30rem;
        margin: 1rem;
        padding: .5rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        &_profile {
            width: 4rem;
            height: auto;
        }

        &_span {
            display: block;
        }
    }
}