.section-footer {
    background-color: $background-white;
    padding: $margin-medium;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    margin-top: $margin-large;

    &_content {
        border-top: 1px solid $border-color-light;
        padding-top: $margin-medium;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &_links {
            text-align: center;
            & a{
                text-decoration: none;
                color: $text-medium;
                margin-right: $margin-medium;
                font-size: 15px;
                transition: color 0.3s ease;
                &:hover {
                    color: $primary-color;
                }
            }
        }

        &_copyright {
            font-size: 14px;
            color: $text-medium;
            text-align: center;
        }
    }

}