.container-footer {
    background-color: #f7dcc1;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    margin-top: 5rem;

    &_data {
        &_subtitle {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        &_box {
            display: flex;
            align-items: center;

            &_logo {
                width: 2rem;
                height: auto;
            }

        }
    }

    &_networks {
        text-align: center;

        &_box {
            &_logo {
                width: 2rem;
                height: auto;
                margin: 0 0.5rem;
            }
        }
    }

    &_newsletter {
        &_form {
            &_sub {
                padding: 0 5px;
            }
        }
    }

    &_copyright {
        background-color: $negro;

        &_description {
            color: $blanco;
            text-align: center;
        }
    }
}