.header_container {
    background-color: #f7dcc1;

    &_nav {

        &_menu-toggle {
            display: none;
        }

        &_links {
            margin: 0 2rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name {
                color: $rojo;
                font-size: 1.5rem;
                background-color: transparent;

                &:hover {
                    background-color: transparent;
                    color: #117892;
                }
            }

            &_link {
                background-color: #41C2E2;
                padding: 0 2rem;
                border-radius: 15px;
                text-decoration: none;
                font-size: 1.2rem;
                color: $negro;
                font-weight: 400;
                cursor: pointer;

                &:hover {
                    background-color: #117892;
                    color: $blanco;
                }

            }

        }
    }

    &_descriptions {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &_title {
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 3px;
        }

        &_txt {
            font-size: 1.2rem;
            font-weight: 300;
            font-style: italic;
        }

        &_box-img {
            width: 45rem;
            overflow: hidden;
        }
    }
}