.hyu {
    margin-bottom: 3rem;
    &_txt {
        text-align: center;
        background-color: $bg-oscuro;
        margin-top: 2rem;
        padding: 1rem;
        &_sp1 {
            display: block;
            font-size: 3rem;
        }
    }
    &_ubi {
        text-align: center;
        background-color: $bg-oscuro;
    }
}