@media (max-width: 900px) {
    .app {
        background-attachment: fixed;
        background-size: cover;
        background-position: calc(100% / 2);
    }
    .inicio {
        &_nav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &_contenido {
                grid-row: 2/3;

                &_link {
                    font-size: 1.5rem;
                    padding: 0;
                    margin: 1rem;
                    margin-bottom: 1rem;

                    &:hover {
                        transition: font-size 1s;
                        font-size: 2rem;
                    }
                }
            }

            &_carrito {
                grid-column: 3/4;
                justify-self: end;
            }
        }

        &_contenedor {
            flex-direction: column;

            &_titulo {
                font-size: 4rem;
                text-align: center;
            }
        }

        &_descripcion {
            &_txt {
                font-size: 2rem;
            }
        }
    }

    .nosotros_cajas_caja_txt {
        width: 100%;
        font-size: 1.5rem;
    }

    .hyu {
        h2 {
            padding: 1rem;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-size: 2.5rem;
        }

        &_txt {
            font-size: 1.5rem;

            &_sp1 {
                font-size: 2rem;
            }
        }

        &_ubi {
            font-size: 1.5rem;
        }
    }

    .carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            letter-spacing: 0;
            padding: 0 2rem;
        }
        
    }
}

@media (min-width: 837px) {
    .inicio {

        &_nav {
            display: flex;
            justify-content: space-between;

            &_menu-hamburguesa {
                display: none;
            }

            &_contenido {
                display: flex;
            }
        }
    }

    .activo {
        &_cards {
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            column-gap: 5rem;
        }
    }

    .carrito {

        &_contenedor {
            &_lista {
                grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            }
        }
    }

}