* {
    font-family: $font-family-primary;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-dark;
    scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--margin-medium);
}
